ES_ADMIN_USER=elastic
ES_ADMIN_PASS=<password>
ES_MEM_LIMIT=512m
KIBANA_SYSTEM_PASS=<password>

RABBITMQ_HOST=rabbitmq-broker
RABBITMQ_PORT=5672
RABBITMQMONITORING_USER=<rabbitmq-username>
RABBITMQMONITORING_PASS=<rabbitmq-password>
RABBITMQ_VHOST=/
